.sideBar {
    background: #9C9C9C;
    height: 100vh;
    color: black;
    padding: 1rem;
    width: 15rem;
}

header {
    padding: 1rem;
    font-size: 1.5rem;
}

.linkHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 9rem;
    height: 8rem;
}

.sideBarItens ul {
    list-style: none;
}

.sideBarItens ul li {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    Width: 100%;
    border-radius: 10px;
}

.sideBarItens ul li:hover {
    background: #8D1414;
    color: white;
    cursor: pointer;
}

.icon {
    margin: 0.3rem;
}